/* utilities */
@font-face {
    font-family: fastaction;
    src: url(../fastaction.ttf);
}

.mt-1 {
    margin-top: 1em;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.padding-l-45 {
    padding-left: 45%;
}

.float-right {
    float: right;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
}

.w-90 {
    width: 90%;
}

.updown-display {
    display: flex;
    flex-direction: row;
    line-height: 2.5em;
}

.updown-display .buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.updown-display .udbutton {
    outline: 1px solid #d1d1d1;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1em;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.udbutton:active {
    background-color: grey;
}

.udbutton .dash {
    position: relative;
    margin: 0 auto;
    outline: 1px solid #d1d1d1;
    border-radius: 100px;
    background-color: #d1d1d1;
}

.udbutton .h-dash {
    top: 47%;
    width: 1.5em;
    height: 0.2em;
}

.udbutton .v-dash {
    width: 0.2em;
    height: 1.5em;
    top: 14%;
}

button:disabled {
    opacity: 40%;
}

input[type="checkbox"] {
    margin-right: 0.5em;
}

input[type="checkbox"]+label {
    display: inline;
    font-weight: unset;
}

input[type="radio"]+label {
    display: inline-block;
    margin-left: 1em;
}

.crossed {
    text-decoration: line-through;
    color: grey;
}

/* layout */
div {
    /*outline: 1px solid black;*/
}

.no-link,
.no-link:hover {
    all: unset;
    cursor: pointer;
}

.header {
    background-color: #33c3f0;
    z-index: 1002;
}

.header h1 {
    margin: 0.5em;
    font-family: fastaction;
    color: white;
}

.title-row {
    display: flex;
    flex-direction: row;
}

.right-title-item {
    text-align: right;
    margin-left: auto;
    width: 20vw;
    background-image: url(../img/logout.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 40%;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.main {
    padding: 0 0 2em 0;
}

.footer {
    margin-top: auto;
    color: whitesmoke;
    text-align: center;
    font-size: smaller;
    padding: 1em;
    background-color: #33c3f0;
    z-index: 1001;
}

.button-column {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.button-column button,
.button-column .button-primary {
    width: 60vw;
}

.not-logged {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
}

.recipe-buttons button {
    width: 30vw;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ingredient-name {
    width: 90%;
}

.delete-button {
    background-color: rgb(255, 224, 224);
}

.delete-ing-button {
    background-color: rgb(255, 224, 224);
    margin-top: 2.65em;
}

div.separator {
    outline: 1px solid #d1d1d1;
    border-radius: 100px;
    background-color: #d1d1d1;
    margin: 2em auto;
    height: 1px;
}

.tag,
.tag:hover {
    margin-right: 0.5em;
    display: inline-block;
    outline: 1px solid grey;
    padding: 0 0.5em;
    border-radius: 6px;
    background-color: wheat;
}

.blurred-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(3px);
    z-index: 500;
}

.popin {
    width: 70vw;
    background-color: white;
    border-radius: 15px;
    outline: 1px solid #bbb;
    margin: 5em auto;
    padding: 2em 1em;
    text-align: center;
}

/*loader*/
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 1000;
}

.sp-loadbar {
    width: 20%;
    height: 1em;
    border: 1px gray solid;
    border-radius: 4px;
    background: linear-gradient(-60deg, transparent 0%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
    background-size: 20px 30px;
    background-position: 0px 0px;
    -webkit-animation: spLoadBar 0.8s infinite linear;
    animation: spLoadBar 0.8s infinite linear;
    margin: 40vh auto;
}

@-webkit-keyframes spLoadBar {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: -20px 0px;
    }
}

@keyframes spLoadBar {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: -20px 0px;
    }
}

/*menu*/

.menu {
    position: fixed;
    z-index: 1000;
    left: -101%;
    top: 0;
    padding: 22em 0 8em 0;
    background: #33c3f0;
    outline: 1px solid black;
    width: 100%;
    height: 100%;
}

.menu.visible {
    animation: .3s slideRight ease-in forwards;
    transition-delay: 0;
}

.menu.invisible {
    animation: .3s slideLeft ease-out forwards;
    transition-delay: 0;
}

@keyframes slideRight {
    from {
        left: -101%;
    }

    to {
        left: 0%;
    }
}

@-webkit-keyframes slideRight {
    from {
        left: -101%;
    }

    to {
        left: 0%;
    }
}

@keyframes slideLeft {
    from {
        left: 0%;
    }

    to {
        left: -101%;
    }
}

@-webkit-keyframes slideLeft {
    from {
        left: 0%;
    }

    to {
        left: -101%;
    }
}

body.no-scroll {
    height: 100%;
    overflow-y: hidden;
}