.buttonGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .buttonGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    max-width: 700px;
    margin: 0 auto 2rem auto;
  }
}

.akButton {
  background: var(--akBlue);
  color: white;
  border: 1px solid var(--akBlue);
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  font-weight: 400;
  width: 100%;
}

.akButton.white {
  background: white;
  color: var(--akBlue);
  border: 1px solid var(--akBlue);
}

@media (min-width: 1024px) {
  .akButton {
    max-width: 320px;
    width: 100%;
  }
}